.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.clearfix{
    clear:both;
    margin-bottom:10px
}

.inlineError{
    color: #f44336
}

.twitter{
    margin-top: 20px
}
.twitter a{
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
}
.twitter a:hover{
    background-color: #fff;
    -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
.twitter a img{
    vertical-align: middle;
    margin-right: 10px
}
.twitter a span{
    font-size: 16px;
    color: #2ca7e1;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
